/* ==========================
   Lumos Follow - Background
========================== */

body{
    margin:0;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:20px; /* <-- ESSENCIAL */
}

/* Fundo mágico */
body::before{
    content:"";
    position:fixed;
    inset:0;

    background:
        radial-gradient(circle at 20% 20%, rgba(180,70,255,.18), transparent 35%),
        radial-gradient(circle at 80% 30%, rgba(255,120,0,.12), transparent 30%),
        radial-gradient(circle at 50% 80%, rgba(140,0,255,.16), transparent 35%),
        linear-gradient(180deg,#090414,#05030a);

    z-index:-3;
}

/* Brilho suave */
body::after{
    content:"";
    position:fixed;
    inset:0;

    background:
        radial-gradient(circle, rgba(120,0,255,.12), transparent 60%);

    filter:blur(80px);
    z-index:-2;
    pointer-events:none;
}