Criando arquivo input.css para estilização do campo de usuário
/* Campo de usuário */

#usuario{
    width:100%;
    padding:18px 20px;
    margin:25px 0;

    border-radius:18px;
    border:1px solid rgba(255,255,255,.15);

    background:rgba(255,255,255,.06);

    color:#fff;
    font-size:18px;

    outline:none;

    transition:.3s;
}

#usuario:focus{
    border-color:#a855f7;
    box-shadow:0 0 25px rgba(168,85,247,.35);
}