* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel', serif;
}

body {
  background: #0b0014;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  text-align: center;
  color: white;
}

input {
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background: #8a2be2;
  color: white;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.box {
  background: #1a001f;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
}