body {
    margin: 0;
    font-family: 'Cinzel', serif;
    background: #0a0014;
    color: white;
    text-align: center;
}

.card {
    margin-top: 120px;
    padding: 20px;
}

input {
    padding: 12px;
    width: 80%;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 12px;
    width: 85%;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg, #a855f7, #ec4899);
    color: white;
    font-weight: bold;
}

/* OVERLAY */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.92);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

/* LUMOS TEXTO */
.lumosTitle {
    font-size: 60px;
    color: white;
    text-shadow: 0 0 25px #a855f7;
    margin-bottom: 20px;
}

/* SCANNER ANIMATION */
.scanner {
    width: 80%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #a855f7, transparent);
    animation: scan 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes scan {
    0% { transform: translateY(-100px); opacity: 0; }
    50% { opacity: 1; }
    100% { transform: translateY(200px); opacity: 0; }
}